<h2>ログインはこちら！</h2>

<%= form_with(scope: :session, url: sessions_path, local: true ) do |f| %>
  <ul class="login_form">
    <li>
      <%= f.label :email %>
      <%= f.email_field :email %>
    </li>
    <li>
      <%= f.label :password %>
      <%= f.password_field :password %>
    </li>
    <%= f.submit 'ログイン' %>
  </ul>
<% end %>
