<h2>早速登録しよう！</h2>
<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <h4><%= @user.errors.count %> 件のエラーがあります。</h4>
    <ul>
    <% @user.errors.full_messages do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  <% end %>
  <div class="name_field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="email_field">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="password_field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>
  <div class="password_confirmation_field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <%= f.submit '登録する' %>
<% end %>
