<!DOCTYPE html>
<html>
  <head>
    <title>RailsKadai2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <nav class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-menu">
              <span class="sr-only">顔本</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Home</a>
          </nav>
          <div id="navbar-menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
              <% if logged_in? %>
                <li><a href="#">新規投稿</a></li>
                <li class="dropdown"><%= link_to 'ログアウト', session_path(current_user.id), method: :delete, data: { confirm: 'ログアウトしますか？'} %></li>
              <% else %>
                <li><%= link_to 'ログイン', new_session_path %></li>
                <li><%= link_to '新規登録', new_user_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <section class="main_contents">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
      <%= yield %>
    </section>
    <footer>
      <p>©️ 2019 Kyosuke Uryu</p>
    </footer>
  </body>
</html>
